<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">

    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- ng-cordova for plugins -->
    <script src="lib/ng-cordova/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <ion-nav-bar class="bar bar-header bar-stable">

        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view style="overflow-y:auto;overflow-x:hidden;" animation="slide-left-right"></ion-nav-view>
    <!-- Script per la funzione di login dell'utente-->
    <script id="login.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="Login">
        <ion-content class="padding" ng-controller="login" style="overflow:auto;">
          <!-- The content of the page -->
          <h3 style="margin-top:5%;text-align:center;">Benvenuto in University Network!</h3>
          <div class="list" style="margin-top:10%;">
            <label class="item item-input">
              <input type="email" ng-model="email" placeholder="Email">
            </label>
            <label class="item item-input">
              <input type="password" ng-model="password" placeholder="Password">
            </label>
          </div>
          <div class="row" id="buttons">
              <div class="col col-25 col-offset-25">
                <a ng-disabled="disabled" ng-click="sendLoginData()" class="button button-balanced">
                  Login
                </a>
              </div>
              <div class="col col-25">
                <a class="button" ng-disabled="disabled" ui-sref="registrazione">Registrati</a>
              </div>
          </div>
          <div style="position: absolute;top: 40%;left: 40%;display:none;" id="spinner">
              <ion-spinner class="ripple" icon="ripple"></ion-spinner>
          </div>
        </ion-content>
      </ion-view>
    </script>
    <!-- Script per la funzione di registrazione dell'utente-->
    <script id="registrazione.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="Registrazione" ng-controller="registration">
        <ion-content class="padding" style="overflow:auto;" >
          <!-- The content of the page -->
          <h3 style="margin-top:5%;text-align:center;">Inizia a condividere i tuoi appunti!</h3>
            <div class="list">
              <label class="item item-input item-icon-right">
                <span class="input-label">Nome</span>
                <input type="text" ng-model="name" placeholder="Nome">
              </label>
              <label class="item item-input">
                <span class="input-label">Cognome</span>
                <input type="text" ng-model="surname" placeholder="Cognome">
              </label>
              <label class="item item-input item-icon-right">
                <span class="input-label">Password</span>
                <i class="icon ion-eye" on-touch="showPassword = !showPassword"></i>
                <input type="password" id="password" placeholder="Password" ng-model="password" ng-hide="showPassword">
                <input type="text" id="passwordRaw" placeholder="Password" ng-model="password" ng-show="showPassword">
              </label>
              <label class="item item-input item-icon-right">
                <span class="input-label">Email</span>
                <input type="email" ng-model="email" placeholder="test@test.it">
              </label>
              <div>
                <img id="myimage" src="img/default.png" width=100 height=100 style="vertical-align:middle;" />
                <span class="button button-primary" style="vertical-align:middle;" on-touch="loadPhoto()">Carica foto profilo</span>
              </div>
              <label class="item item-input item-select">
                <select class="my_select" ng-model="user">
                  <option value="-1">Seleziona tipo utente</option>
                  <option value="0">Studente</option>
                  <option value="1" >Docente</option>
                </select>
              </label>
              <div ng-show="user==0" ng-hide="user!=0">
                <label class="item item-input item-icon-right">
                  <span class="input-label">Immatricolazione</span>
                  <input type="number" placeholder="Anno immatricolazione">
                </label>
                <label class="item item-input item-icon-right">
                  <span class="input-label">Luogo di nascita</span>
                  <input type="text" placeholder="Luogo di nascita">
                </label>
                <label class="item item-input item-icon-right">
                  <span class="input-label">Data di nascita</span>
                  <input type="text" disabled="true" on-touch="selectDate()" placeholder="Data di nascita">
                </label>
                <label class="item item-input item-select">
                  <select class="my_select" ng-model="corso">
                    <option value="-1">Seleziona corso di laurea</option>
                    <option value="0">Informatica per il management</option>
                    <option value="1">Informatica</option>
                  </select>
                </label>
              </div>
              <div ng-show="user==1" ng-hide="user!=1">
                <label class="item item-input item-select">
                  <select class="my_select" ng-model="teacher_type">
                    <option value="-1">Seleziona qualifica</option>
                    <option value="0">Professore ordinario</option>
                    <option value="1">Professore associato</option>
                    <option value="2">Ricercatore</option>
                  </select>
                </label>
              </div>
            </div>
        </ion-content>
        <div class="bar bar-footer bar-balanced">
          <div class="title" on-touch="sendRegistrationData()">Registrati!</div>
        </div>
      </ion-view>
    </script>
    <!-- Script per la visualizzazione del menu principale-->
    <script id="homepage.html" type="text/ng-template">
    <ion-side-menus>
        <ion-side-menu-content>
          <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-icon ion-arrow-left-c"> </ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left">
          <header class="bar bar-header bar-stable">
            <h1 class="title">Menu</h1>
          </header>
          <ion-content class="has-header">
            <ion-list>
              <ion-item ui-sref="homepage.profilo" menu-toggle>
                Profilo
              </ion-item>
              <ion-item ui-sref="homepage.messaggi" menu-toggle>
                Messaggi
              </ion-item>
              <ion-item ui-sref="homepage.ricercaUtente" menu-toggle>
                Ricerca utente
              </ion-item>
              <ion-item ui-sref="homepage.chiSeguo" menu-toggle>
                Chi seguo
              </ion-item>
              <ion-item ui-sref="homepage.chiMiSegue" menu-toggle>
                Chi mi segue
              </ion-item>
              <ion-item ui-sref="homepage.corsi" menu-toggle>
                Corsi
              </ion-item>
              <ion-item ui-sref="homepage.ultimeNews" menu-toggle>
                Ultime news
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-side-menu>


      </ion-side-menus>
    </script>
    <!-- Script per la visualizzazione del profilo dell'utente-->
    <script id="profilo.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="Profilo">
          <!-- The content of the page-->
            <ion-nav-buttons side="left">
              <button menu-toggle="left" ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
              <button class="button button-clear button-positive right" ng-click="openPopover($event)">Impostazioni</button>
            </ion-nav-buttons>
          <ion-content class="padding has-header">
                <div class="list">
                  <div id="profileImage">
                    <img ng-src="img/default.png" width=200 height=200 />
                  </div>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input ng-disabled="edit" type="email" ng-model="user.nome">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Cognome</span>
                    <input ng-disabled="edit" type="email" ng-model="user.cognome">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input ng-disabled="edit" type="email" ng-model="user.email">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Data di nascita</span>
                    <input ng-disabled="edit" type="email" ng-model="user.dataDiNascita">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Luogo di nascita</span>
                    <input ng-disabled="edit" type="email" ng-model="user.luogoDiNascita">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Corso di laurea</span>
                    <input ng-disabled="edit" type="email" ng-model="user.corso">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Anno di immatricolazione</span>
                    <input ng-disabled="edit" type="email" ng-model="user.annoImmatricolazione">
                  </label>
                </div>
                <div style="position: absolute;top: 40%;left: 40%;display:none;" id="spinner">
                    <ion-spinner class="ripple" icon="ripple"></ion-spinner>
                </div>
          </ion-content>
      </ion-view>
    </script>
    <!-- Script per le funzioni del profilo dell'utente-->
    <script id="profileSettings.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <ion-list>
          <ion-item>
            Modifica profilo
          </ion-item>
          <ion-item>
            Cambia password
          </ion-item>
          <ion-item>
            Rimuovi account
          </ion-item>
          <ion-item>
            Logout
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-popover-view>
    </script>
    <!-- Script per la visualizzazione dei messaggi-->
    <script id="messages.html" type="text/ng-template">
        <ion-view title="Messaggi">
          <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          </ion-nav-buttons>
          <ion-content class="padding has-header" style="overflow:auto;">
            <div class="messages-buttons">
              <button class="button button-light" ng-click="showSent()">Inviati ({{messages.number_sent}})</button>
              <button class="button button-light" ng-click="showReceived()">Ricevuti ({{messages.number_received}})</button>
            </div>
            <ion-list ng-show="sent">
              <a class="item item-avatar" href="#" ng-repeat="message in messages.sent">
                <p class="firstLetter">
                {{message.destinatario[0].trim().toUpperCase()}}
                </p>
                <h2 style="display:inline;">A: {{message.destinatario}}</h2>
                <p style="display:inline;" class="right">{{message.data}}</p>
                <h3 class="objectMsg">Oggetto: {{message.oggetto}}</h3>
                <p class="truncateMsg">{{message.testo}}</p>
              </a>
            </ion-list>
            <ion-list ng-show="received">
            <a class="item item-avatar" href="#" ng-repeat="message in messages.received">
              <p class="firstLetter">
              {{message.mittente[0].trim().toUpperCase()}}
              </p>
              <h2 style="display:inline;">Da: {{message.mittente}}</h2>
              <p style="display:inline;" class="right">{{message.data}}</p>
              <h3 class="objectMsg">Oggetto: {{message.oggetto}}</h3>
              <p class="truncateMsg">{{message.testo}}</p>
            </a>
            </ion-list>
            <div style="position: absolute;top: 40%;left: 40%;display:none;" id="spinner">
                <ion-spinner class="ripple" icon="ripple"></ion-spinner>
            </div>
          </ion-content>
        </ion-view>
    </script>
    <!-- Script per la visualizzazione della lista di chi viene seguito dall'utente-->
    <script id="chiSeguo.html" type="text/ng-template">
      <ion-view title="Chi seguo" ng-controller="ChiSeguo">
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-content class="padding has-header" style="overflow:auto;">
          <ion-list>
            <a on-hold="userOptions($event,user)" class="item item-avatar" href="#" ng-repeat="user in users.users">
              <p class="firstLetter">
              {{user.nome[0].trim().toUpperCase()}}
              </p>
              <h2>{{user.nome+user.cognome}}</h2>
              <h3>{{user.email}}</h3>
            </a>
          </ion-list>
          <div style="position: absolute;top: 40%;left: 40%;display:none;" id="spinner">
              <ion-spinner class="ripple" icon="ripple"></ion-spinner>
          </div>
        </ion-content>
      </ion-view>
    </script>
    <!-- Script per la visualizzazione di chi segue l'utente-->
    <script id="chiMiSegue.html" type="text/ng-template">
      <ion-view title="Chi mi segue" ng-controller="ChiMiSegue">
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-content class="padding has-header" style="overflow:auto;">
          <ion-list>
            <a on-hold="userOptions($event,user)" class="item item-avatar" href="#" ng-repeat="user in users.users">
              <p class="firstLetter">
              {{user.nome[0].trim().toUpperCase()}}
              </p>
              <h2>{{user.nome+user.cognome}}</h2>
              <h3>{{user.email}}</h3>
            </a>
          </ion-list>
          <div style="position: absolute;top: 40%;left: 40%;display:none;" id="spinner">
              <ion-spinner class="ripple" icon="ripple"></ion-spinner>
          </div>
        </ion-content>
      </ion-view>
    </script>
    <!-- Script per le funzioni inerenti l'interazione con un utente nella lista chiSeguo, ChiMiSegue, ricercaUtente-->
    <script id="userOptions.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <ion-list>
          <ion-item>
            Visualizza profilo
          </ion-item>
          <ion-item ng-show="follow">
            Segui
          </ion-item>
          <ion-item ng-show="unfollow">
            Non seguire più
          </ion-item>
          <ion-item ng-show="sendMessage">
            Invia messaggio
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-popover-view>
    </script>
    <script id="ricercaUtente.html" type="text/ng-template">
    <ion-view title="Ricerca utente" >
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="padding has-header" style="overflow:auto;">
      <div class="row">
        <div class="col col-75 col-center">
          <div class="list">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" ng-model="textSearched" placeholder="Search">
            </label>
          </div>
        </div>
        <div class="col col-25 col-center">
          <button class="button button-light" ng-click="find()">Cerca</button>
        </div>
      </div>
      <div class="row">
      <div class="col col-100">
          <ion-list>
            <h6 class="title" ng-show="showTitle">Risultati trovati: {{users.number}}</h6>
            <a on-hold="userOptions($event,user)" class="item item-avatar" href="#" ng-repeat="user in users.users">
              <p class="firstLetter">
              {{user.nome[0].trim().toUpperCase()}}
              </p>
              <h2>{{user.nome+user.cognome}}</h2>
              <h3>{{user.email}}</h3>
              <h4>{{user.corso}}</h4>
            </a>
          </ion-list>
          </div>
        </div>
        <div style="position: absolute;top: 40%;left: 40%;display:none;" id="spinner">
            <ion-spinner class="ripple" icon="ripple"></ion-spinner>
        </div>
      </ion-content>
    </ion-view>
    </script>
    <script id="ultimeNews.html" type="text/ng-template">
    <ion-view title="Ultime news">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="padding has-header" style="overflow:auto;">
      <div class="row" ng-show="teacher">
        <div class="col col-100 col-center">
          <button class="button button-light">Nuova</button>
        </div>
      </div>
          <ion-list>
            <a on-hold="newsOptions($event,news.id)" class="item item-avatar" href="#"  ng-repeat="news in news.news">
              <p class="firstLetter">
              {{news.creatore[0].trim().toUpperCase()}}
              </p>
              <h2 class="truncateMsg">{{news.creatore}}</h2>
              <p>{{news.data.substring(0,16)}}</p>
              <h3 class="objectMsg">Oggetto: {{news.oggetto}}</h3>
              <p class="truncateMsg">{{news.testo}}</p>
            </a>
          </ion-list>
        <div style="position: absolute;top: 40%;left: 40%;z-index:100;display:none;" id="spinner">
            <ion-spinner class="ripple" icon="ripple"></ion-spinner>
        </div>
      </ion-content>
    </ion-view>
    </script>
    <script id="newsOptions.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <ion-list>
          <ion-item>
            Rimuovi
          </ion-item>
          <ion-item>
            Modifica
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-popover-view>
    </script>
    <script id="corsi.html" type="text/ng-template">
    <ion-view title="Corsi">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="padding has-header" style="overflow:auto;">
          <ion-list>
            <a on-hold="corsiOptions($event,corso.id)" class="item item-avatar" href="#"  ng-repeat="corso in corsi.corso">
              <p class="firstLetter">
              {{corso.nome[0].trim().toUpperCase()}}
              </p>
              <h2>{{corso.nome}}</h2>
              <h2 class="truncateMsg">Di: {{corso.creatore}}</h2>
              <h3 class="truncateMsg">Corso di laurea: {{corso.corso_laurea}}</h3>
              <p>N° crediti: {{corso.crediti}}</p>
              <p>Anno: {{corso.anno}}</p>
            </a>
          </ion-list>
        <div style="position: absolute;top: 40%;left: 40%;z-index:100;display:none;" id="spinner">
            <ion-spinner class="ripple" icon="ripple"></ion-spinner>
        </div>
      </ion-content>
    </ion-view>
    </script>
    <script id="corsiOptions.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <ion-list>
          <ion-item>
            Visualizza appunti
          </ion-item>
          <ion-item ng-hide="teacher">
            Carica appunto
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-popover-view>
    </script>
  </body>
</html>
